<div class="container">
    <table class="table table-striped"  border="3" >
      <tbody class="table-success">       
 <th>Form No</th>
<th>Full Name</th>
<th>Mobile No</th>
<th>Email Id</th>
<th>Gender</th>
<th>Age</th>
<th>Cibil Score</th>
<th>Status</th>

<!-- <tr *ngFor="let e of emplist"> -->
  <!-- <td class="table-success">{{e.id}}</td>
  <td class="table-secondary">{{e.name}}</td>
  <td class="table-primary">{{e.address}}</td>
  <td class="table-danger">{{e.city}}</td>
  <td class="table-success">{{e.email}}</td>
  <td class="table-warning">{{e.mobile}}</td>
  <td class="table-primary">{{e.designation}}</td>
  <td class="table-danger">{{e.username}}</td>
  <td class="table-success">{{e.password}}</td> -->
  </tbody>
  </table>
  </div>
 
<router-outlet></router-outlet>





