<div style="background-color:white ">              
    <body >
  <div class="bannercard">
          <img src="assets\A-sliders\About-Us.jpeg" class="download">
        </div>
      
          <div class="bannertext">

              <h1 style="color: cornsilk"><i class="fa-solid fa-circle-info"></i>INTRODUCTION:</h1>
              <p style="color:white;" class="par">In furtherance to the development of the co-operative movement in the district, the need for establishment of separate machinery for the distribution of finance in the rural areas was felt vigorously & hence the district central co-op,banks came into existence as a Central Finance Agency to meet the financial requirement of the various co-operative in the district. The co-operative societies act gave birth to many co-operative institutions ,hence the Pune District Central Co-operative Bank came into existence on 4th SEPT.1917 with the vigorous efforts taken by late Shri.N.C.Kelkar. Now the bank is having its registered office at 4 B, B. J. Road, Pune 411 001. The Bank is also having Banking License No. RPCD Bombay 62 C, Dated 16/3/1995 from Reserve Bank of India to transact Banking business.

                  
              </div>  
         
              
        <div class="bg" >
                         <div class="slider">
                   <img src="assets\Home\slide1.jpg" class="slide1">
                  <img src="assets\Home\slide2.jpg" class="slide2">
                  <img src="assets\Home\slide3.jpg" class="slide3">
                  <img src="assets\Home\slide4.jpg"  class="slide4">
          
              <div class="bannertext1">
                  <h1 class="bank" style="color: cornsilk"><i class="fa-sharp fa-solid fa-building-columns"></i>BANK ASSETS:</h1></div>
     <div class="slider1">
    <img src="assets\A-sliders\Loan_and_advance.png" class="slide5">  
  <img src="assets\A-sliders\deposits2.png" class="slide6">
  <img src="assets\A-sliders\own_fund.png" class="slide7">
  <img src="assets\A-sliders\net_profit.png" class="slide8">
 </div>

 <div>
  <h1 style="color: cornsilk"><i class="fa-solid fa-square-check"></i>Terms&condition:</h1>
  <p class="Termscondition" >
      The aggregate of all withdrawals and transfers in a day should not exceed Rs. 10,000/- .
      All banking transactions are chargeable at normal charges as published from time-to-time.
      Any government charges, duties or taxes devolving from the provision of any of the facilities shall, if imposed upon the Bank (either directly or indirectly), be debited from the customer's account.
  </p>
</div>
</div>
</div>
</body>  
</div>    